<!DOCTYPE html>
<html>
    <head>
        <title>PATHWAY QUIZ TEMPLATE EUKFCLNBER</title>
    </head>
    
    <body>
        
    <form action="/results" method="post">
      <h2>What kind of meal during the day?</h2>
        <input type="radio" name="meal" value="10">Breakfast<br>
        <input type="radio" name="meal" value="30">Lunch<br>
        <input type="radio" name="meal" value="50">Dinner
        
        <h2>Dietary Restrictions?</h2>
        <input type="radio" name="restriction" value="2">Gluten-Free<br>
        <input type="radio" name="restriction" value="4"> Vegan/Vegetarian<br>
        <input type="radio" name="restriction" value="6">None<br>
        
        
      

          <!--the values are the numbers and each number is important because what these -->
          <!--numbers add up to (number pathway/combo) determines the kind of recipe they'll have as a result-->

          <button type = "submit" class="new"> See your recipe! </button>
      </form>
    </body>
</html>